@import "tailwindcss";

/* Light Theme (not pure white!) */
:root {
	--background: #f8f8ff;
	--foreground: #002b36;
	--primary: #2563eb;
	--secondary: #e5e7eb;
	--danger: #dc322f;

	--input-bg: #ffffff;
	--input-border: #d1d5db;
	--input-placeholder: #6b7280;
	--input-disabled: #cbd5e1;
}

/* Dark Theme (deep, not pure black) */
html.dark {
	--background: #002b36;
	--foreground: #fdf6e3;
	--primary: #60a5fa;
	--danger: #f75c5c;

	--input-bg: #1f2937;
	--input-border: #374151;
	--input-placeholder: #9ca3af;
	--input-disabled: #27272a;
}

body {
	background: var(--background);
	color: var(--foreground);
}

